@import url(reset.css); 
@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat:400,700&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;
color rojo: #fa573a
color azul: #21242e; 
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 1.3em;
}

h2{
    font-size: 2rem;
    line-height: 1em;
}

.container {
    width: 95%;
}

header {
    background-color: #333333;
    color: white;
    padding: 1rem 0;
}

header a {
    color: white;
    text-decoration: none;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-left: 1.5rem;
    width: 80%; 
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
}



header ul {
    margin: .5rem 1rem;
    padding: 0;
    list-style: none;
    display: inline;
    display: none;
}

header ul.show {
    display: block;
}

header ul li input {
    border-radius: 2px;
}

header ul li {
    display: block;
    margin: 5px 10px;

}

header ul li:first-child {
    width: 200px;
    size: 300px;
}

/*header ul li a {
    display: block;
    padding: .5rem 1rem;
}

header ul li a:hover {
    background-color: rgb(255, 102, 0);
    transition: .4s;
    border-radius: 5px;
}*/ /*Lo comentado sería para hacer efecto en algún casilla creada */

/*------------------------------------------------------------------------------------------------------------------------------------------*/

main nav .filtro {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palegreen;
    padding: 1rem 0 ;
}

main nav .filtro ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main ul li {
    display: inline-block;
    margin: 0 10px;
}

main .actividades {
    margin: .5rem 0;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
footer {
    background-color: #333333;
    padding: 1.5rem 0;
    text-align: center;
    color: aliceblue;
}

@media (min-width: 48.06em){

    .menu-icon{
        display: none;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .logo {
        margin-left: 1rem;
        width: 20%;
    }

    header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 0;
        display: unset;
    }

    header ul li {
        display: inline-block;
        margin: 5px 10px;
    
    }
    
}
